body {
  background: rgb(14, 105, 180);
}

.container {
  width: 100%;
  margin: 40px auto;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-gap: 20px;
}

.container .item {
  background: #fff;
  padding: 20px;
  font-family: sans-serif;
  font-size: 1.4rem;
  height: 50px;
  line-height: 50px;
  text-align: center;
}

/*********************  MEDIA QUERIES *********************/

/* Extra Large Screens (extra large desktop / 4k)*/

@media only screen and (min-width: 1200px) {
  .container {
    grid-template-columns: repeat(12, 1fr);
  }
}

/* Large Screens (large desktop)*/

@media only screen and (max-width: 1200px) {
  .container {
    grid-template-columns: repeat(6, 1fr);
  }
}

/* Medium Screens (normal desktop) */

@media only screen and (max-width: 992px) {
  .container {
    grid-template-columns: repeat(4, 1fr);
  }
}

/* Small Screens (tablets) */

@media only screen and (max-width: 768px) {
  .container {
    grid-template-columns: repeat(3, 1fr);
  }
}

/* Extra small screens */

@media only screen and (max-width: 576px) {
  .container {
    grid-template-columns: 1fr;
  }
}

@media print {
  .no-print {
    display: none;
  }
}
