@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,700;1,400&display=swap");

:root {
  --primary-color: #5b2158;
  --primary-dark: #421940;
  --primary-light: #f7baf4;
  --secondary: #313131;
  --secondary-light: #ebebeb;
}

* {
  box-sizing: border-box;
  font-family: "Poppins", sans-serif !important;
}
body {
  margin: 0;
}

.container {
  width: 100%;
  height: 620px;
  background: url(./images/freeimg_99828278freejpg850.jpg) no-repeat center /
    cover;
  padding: 0.03px;
  position: relative;
}

/* Shape */
.custom-shape-divider-bottom-1600181655 {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
}

.custom-shape-divider-bottom-1600181655 svg {
  position: relative;
  display: block;
  width: calc(100% + 1.3px);
  height: 141px;
  transform: rotateY(180deg);
}

.custom-shape-divider-bottom-1600181655 .shape-fill {
  fill: #ffffff;
}

/* Navbar */
.container nav {
  width: 95%;
  height: 65px;
  margin: 20px auto;
  line-height: 65px;
  background: transparent;
  display: flex;
}

.container nav .navbar-brand {
  flex: 50%;
  height: 100%;
}

.container nav .navbar-brand a {
  color: #fff;
  font-weight: bold;
  font-size: 1.5rem;
  margin-left: 30px;
  text-decoration: none;
  font-weight: 700;
}

.container nav .navbar-menu {
  margin-top: 0 !important;
  flex: 50%;
  height: 100%;

  display: flex;
}

.container nav .navbar-menu li {
  list-style: none;
  flex: 20%;
  text-align: center;
  position: relative;
}

.container nav .navbar-menu li a {
  color: #fff;
  text-decoration: none;
  font-weight: 400;
  display: block;
  border-bottom: 3px solid transparent;
  transition: all 0.3s linear;
}

.container nav .navbar-menu li a:hover {
  border-bottom: 3px solid var(--primary-light);
}

.container nav .navbar-menu li a.active {
  background: var(--primary-color);
  color: #fff;
  border-radius: 8px;
}

/* Mockup area */
.mockup-area {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* align-items: center; */
  margin-left: 30px;
  margin-top: 20px;
}

.mockup-area .giant-title {
  font-size: 3.2rem;
  color: var(--primary-light);
  font-weight: 400;
  margin-bottom: 10px !important;
  width: 90%;
}

.mockup-area .lead {
  margin-top: 0 !important;
  color: #fff;
  text-align: justify;
  line-height: 27px;
  width: 90%;
  font-weight: 300;
}

.mockup-area .mockup-btn {
  width: 150px;
  height: 50px;
  background: transparent;
  border: 2px solid var(--primary-light);
  outline: none;
  color: var(--primary-light);
  font-size: 1.09rem;
  margin-top: 20px;
  cursor: pointer;
  transition: all 0.3s ease;
}

.mockup-area .mockup-btn:hover {
  background: var(--primary-light);
  color: var(--primary-color);
}

#team-members {
  width: 90%;
  margin: 50px auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 50px;
}

#team-members .card {
  background-color: #fff;
  /* border: 1px solid #f7f7f7; */
  box-shadow: 1px 1px 20px rgb(241, 241, 241);
  padding: 15px;
  border-radius: 5px;
}

#team-members .card h3 {
  text-align: center;
}

.d-block {
  display: block;
}

#team-members .card small {
  color: var(--secondary);
  text-align: center;
  font-size: 0.8rem;
  font-weight: 400;
}

#team-members .card p {
  color: grey;
  text-align: justify;
  line-height: 24px;
  font-size: 0.8rem;
}

#team-members .card .image-wrapper {
  width: 100px;
  height: 100px;
  border-radius: 100%;
  margin: 10px auto;
}

/* Top title */
.top-title {
  width: 30%;
  margin: 40px auto;
}
.top-title h1 {
  font-size: 2rem !important;
  text-align: center;
  font-weight: 700;
}
.top-title .line {
  width: 100%;
  height: 8px;
  background: var(--primary-color);
  border-radius: 100% 0 100% 0;
}

/* Features */
#features {
  width: 90%;
  margin: 80px auto;
  display: grid;
  grid-gap: 70px;
  grid-template-columns: 1fr 1fr;
}

#features .left-f h3 {
  font-size: 2.3rem;
}

#features .left-f .f-btn {
  width: 200px;
  height: 50px;
  line-height: 50px;
  outline: none;
  background: var(--primary-color);
  color: #fff;
  font-size: 1.1rem;
  display: block;
  text-align: center;
  text-decoration: none;
  margin-top: 40px;
  transition: all 0.3s ease;
}
#features .left-f .f-btn:hover {
  background: var(--primary-dark);
  box-shadow: 0px 0px 15px rgb(226, 226, 226);
}

#features .left-f p {
  font-size: 0.99rem;
  color: rgb(119, 119, 119);
  text-align: justify;
  line-height: 33px;
}

#features .right-f .f-image {
  width: 100%;
  height: 100%;
  background: url(./images/support-team.png) no-repeat center / cover;
  animation: slideImages 10s linear infinite;
}

@keyframes slideImages {
  0% {
    background: url(./images/support-team.png) no-repeat center / cover;
  }

  25% {
    background: url(./images/ui-ux-designer.png) no-repeat center / cover;
  }

  50% {
    background: url(./images/busy-marketing.png) no-repeat center / cover;
  }

  75% {
    background: url(./images/online-community.png) no-repeat center / cover;
  }

  75% {
    background: url(./images/business-woman.png) no-repeat center / cover;
  }
}

/* Contact area */
#contact-area {
  width: 90%;
  margin: 100px auto;
  display: grid;
  grid-gap: 50px;
  grid-template-columns: 1fr 1fr;
}

#contact-area .ca-l .ca-image-wrapper {
  width: 100%;
  height: 100%;
  background: url(./images/cont.png) no-repeat center / cover;
}

#contact-area .ca-r form {
  width: 100%;
}

#contact-area .ca-r .form-group {
  width: 100%;
  margin: 8px auto;
}

#contact-area .ca-r .form-group label {
  font-size: 1rem;
  color: grey;
}

#contact-area .ca-r .form-group .form-control {
  width: 100%;
  margin: 8px auto;
  border: 2px solid rgb(231, 231, 231);
  height: 50px;
  outline: none;
  border-radius: 4px;
  padding: 10px;
  transition: all 0.2s linear;
}

#contact-area .ca-r .form-group .form-control:focus {
  border: 2px solid var(--primary-color);
}
#contact-area .ca-r .form-group .form-control:focus::placeholder {
  color: transparent;
}

#contact-area .ca-r .form-group textarea {
  height: 130px !important;
}

#contact-area .ca-r .form-group #send-btn {
  width: 180px;
  height: 50px;
  outline: none;
  background: var(--primary-color);
  color: #fff;
  border: 0;
  font-size: 1.07rem;
  border-radius: 4px;
  cursor: pointer;
  transition: all 0.3s ease;
}

#contact-area .ca-r .form-group #send-btn:hover {
  background: var(--primary-dark);
}

/* Footer */
footer {
  width: 100%;
  padding: 20px;
  background: var(--secondary);
  color: var(--secondary-light);
  display: grid;
  grid-template-columns: 1fr 1fr 2fr;
  grid-gap: 30px;
}

footer .ql {
  padding-left: 40px;
}
footer .ql ul {
  list-style-type: none;
  padding-inline-start: 0 !important;
}

footer .ql ul a {
  color: var(--primary-light);
  text-decoration: none;
  transition: all 0.3s ease;
}

footer .ql ul a:hover {
  color: #fff;
}

footer .sub .form-group {
  width: 100%;
}

footer .sub .form-group .form-control {
  width: 100%;
  margin: 10px auto;
  height: 40px;
  padding-left: 10px;
  font-size: 0.92rem;
  outline: 0;
  border: 0;
  transition: all 0.3s ease;
}

footer .sub .form-group .form-control:focus::placeholder {
  color: transparent;
}

footer .sub .form-group input[type="submit"] {
  width: 100%;
  margin-top: 5px;
  height: 40px;
  background: #fff;
  color: var(--primary-dark);
  outline: none;
  border: 0;
  font-size: 1rem;
}
