body {
  margin: 0;
  background: tomato;
}

.card {
  width: 200px;
  height: 200px;
  background: #fff;
  margin: 100px auto;
  padding: 15px;
  border-radius: 10px;
  /* transform: translate(100px, 50px) scale(0.5, 0.5) rotate(0deg)
    skew(20deg, 20deg); */
  transition: transform 1s linear, background 3s ease, border-radius 1.5s linear,
    box-shadow 2s ease-in;
}

.card:hover {
  border-radius: 100%;
  transform: scale(1.5, 1.5);
  background: rgba(255, 255, 255, 0.3);
  box-shadow: inset 3px 3px 30px rgb(110, 110, 110);
}
